<header>
  <div class="container">
    <div class="logo"> <a href="<%= root_url %>"><%= image_tag "logo.jpg", alt: "" %></a> </div>
    <div class="right-content after-sign-in">
      <ul>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
</header>
